*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

p {
    margin-left: 42%;
    margin-top: 1rem;
}

ol {
    margin-left: 42%;
    margin-top: 1.5rem;
}




p:first-of-type {
    color: red;
  }

  ol:last-of-type {
      color: blue;
  }